<p id="notice"><%= notice %></p>



<p> <h1>
  <strong>Name:</strong>
  <%= @character.name %>
 </h1></p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
